/*------------------------------------------------------------GENERAL CHANGES------------------------------------------*/
.panel,
.hidden-inline,
.hidden,
#sun-icon {
  display: none;
}

.show,
.panel-open,
#moon-icon {
  display: block;
}

.show-inline {
  display: inline;
}

.panel li {
  cursor: pointer;
}

#content {
  font-size: 15px;
  color: #4d4d4d;
  background-color: white;
}

.title {
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
}

.title span {
  color: #18c9c9;
}

.subtitle {
  color: black;
  font-size: 1.5rem;
}

.icons-container svg,
.icons-container i {
  cursor: pointer;
}

.icons-container svg {
  height: 30px;
  width: 30px;
}

.icon {
  font-size: 1.25rem;
}

section {
  padding: 25px;
  border: 2px solid #e5e5e5;
  margin: 15px 30px 30px 30px;
  background-color: #e4fcfc;
  border-radius: 10px;
}

section .section-content {
  padding: 15px 0;
}

section .section-content .subtitle:not(.subtitle:first-of-type) {
  padding-top: 15px;
}

section .section-content ul {
  padding: 10px 0;
}

/*--------------------------------------------------------------DARK-MODE + RETURNBACK--------------------------------------------------*/
#return-back-container {
  font-size: 2.5rem;
  position: fixed;
  right: 3%;
  bottom: 3%;
}

#return-back {
  color: #4d4d4d;
}

#return-back:hover {
  color: #2ee6e6;
}

#return-back:active {
  color: #E62E2E;
}

#dark-mode {
  position: fixed;
  left: 3%;
  bottom: 1%;
}

#dark-mode .icon {
  font-size: 2.5rem;
}

#dark-mode .icon:hover {
  color: #2ee6e6;
}

#dark-mode .icon:active {
  color: #E62E2E;
}

@media only screen and (min-height: 500px) and (max-height: 800px) {
  #return-back {
    bottom: 10%;
  }
  #dark-mode {
    bottom: 5%;
  }
}

/*--------------------------------------------------------------HEADER--------------------------------------------------*/
#header {
  width: 100%;
  z-index: 100;
  border: 1px solid #e5e5e5;
}

/*Header Img-content*/
#header .img-content {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px;
}

#header .img-content .img-container {
  width: 2.5rem;
}

#header .img-content .img-container {
  font-size: 2rem;
}

/*Header Label + Imput*/
#menu-btn {
  display: none;
}

#header .menu-icon {
  padding: 35px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

#header .menu-icon span {
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background-color: black;
}

#header .menu-icon span::before {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  content: "";
  top: 5px;
  background-color: black;
}

#header .menu-icon span::after {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  content: "";
  top: -5px;
  background-color: black;
}

/*Header Menu*/
#menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

#menu li {
  font-size: 1.25rem;
  padding: 0 15px;
}

#menu li a {
  display: block;
  padding: 20px;
  color: black;
}

#menu li:hover {
  background-color: #e5e5e5;
}

#menu li a:hover {
  color: #18c9c9;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

/*Header Menu-btn Checked*/
#menu-btn:checked ~ #menu {
  max-height: 240px;
  z-index: 100;
}

#menu-btn:checked ~ .menu-icon span {
  background-color: transparent;
}

#menu-btn:checked ~ .menu-icon span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

#menu-btn:checked ~ .menu-icon span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

/*----------------------------------------------------------------------------MAIN-CONTENT-------------------------------------------------------------------------------*/
#main-content .icon:hover {
  color: #2ee6e6;
}

#main-content .icon:active,
#number {
  color: #E62E2E;
}

/*Main-Content Header*/
#main-content header {
  width: 100%;
  position: relative;
}

#main-content header button {
  border: none;
  background-color: #e4fcfc;
  display: inline;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-transform: none;
}

#counter-name {
  color: black;
}

#counter-name:hover {
  color: #18c9c9;
}

#main-content header button:hover .hidden-inline {
  display: inline;
  cursor: pointer;
  font-size: 1.5rem;
}

#main-content header .icons-container {
  float: right;
  text-align: end;
  position: absolute;
  top: 0;
  right: 0;
}

#main-content header .icons-container .panel {
  position: absolute;
  right: 0;
  background-color: white;
  border-radius: 15px;
  margin: 10px 0;
}

#main-content header .icons-container .panel li {
  font-size: 0.8rem;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  color: #4d4d4d;
  border-radius: 10px;
}

#main-content header .icons-container .panel li:hover {
  font-style: italic;
  background-color: #e5e5e5;
}

#main-content header .icons-container .panel li:active {
  font-weight: bold;
}

/*Main-Content Counter-Container*/
#main-content .counter-container {
  text-align: center;
  font-size: 2.5rem;
  padding: 10px 0;
}

#main-content .counter-container .icons-container {
  position: relative;
  padding-top: 30px;
}

#main-content .counter-container .icons-container .icon {
  font-size: 4rem;
  width: 40%;
  margin: 0;
}

#number {
  font-size: 5rem;
  padding: 30px 0;
}

/*----------------------------------------------------------------------------DETAILS-------------------------------------------------------------------------------*/
#details ul {
  list-style: circle;
  list-style-position: inside;
}

#details ul li {
  font-style: italic;
}

#details ul code {
  font-weight: bold;
}

/*----------------------------------------------------------------------------THANKS-------------------------------------------------------------------------------*/
#thanks .title {
  font-size: 1.75rem;
}

#thanks ul {
  list-style: circle;
  list-style-position: inside;
}

#thanks ul li a {
  font-style: italic;
  color: #4d4d4d;
}

#thanks ul li a:hover {
  font-weight: bold;
}

/*----------------------------------------CONTACT----------------------------------*/
#contact header .title {
  text-align: center;
}

#contact .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .section-content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .section-content .icons .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  color: black;
  border: 1px solid #e5e5e5;
  text-align: center;
  border-radius: 10px;
}

#contact .section-content .icons .icons-container:not(.icons-container:last-of-type) {
  margin-bottom: 20px;
}

#contact .section-content .icons .icons-container i {
  margin-bottom: 10px;
  text-align: center;
  font-size: 2rem;
  color: #2ee6e6;
}

#contact .section-content .icons .icons-container span:last-of-type:not(h3 span),
#contact .section-content .icons a {
  font-size: 0.8rem;
  color: #404040;
  font-style: italic;
}

#contact .section-content .icons .icons-container h3 span {
  color: #18c9c9;
}

#contact .section-content .icons a:hover,
#contact .section-content .icons a:active {
  color: #2ee6e6;
}

#contact .section-content .icons .icons-container:hover {
  background-color: #e5e5e5;
}

#contact .section-content .icons .icons-container:hover span:last-of-type:not(h3 span),
#contact .section-content .icons .icons-container:hover a {
  font-size: 1.25rem;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  font-weight: bold;
}

/*----------------------------------------------------FOOTER------------------------*/
#footer {
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
  font-size: 0.8rem;
}

#footer a {
  color: black;
}

#footer a:hover {
  color: #2ee6e6;
}
/*# sourceMappingURL=style(scss).css.map */